* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: black;
}

#about .hero {
    color: white;
    display: flex;
    justify-content: center;
}

.div_about {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#about .hero span {
    color: rgb(170, 239, 241);
}

#about .hero a {
    color: rgb(170, 239, 241);
}

@media screen and (max-width: 768px) {
    .hero .div_about {
        display: flex;
        flex-direction: column;
    }
}